.pageCategory {
	max-width: 480px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding-bottom: 32px;
	justify-content: center;
	align-content: flex-end;
	transition: max-height var(--page-animation), opacity var(--page-animation);
	background-color: var(--block-bg-color);
}

.category {
	margin-top: 1rem;
	width: 160px;
	height: 200px;
	padding: 4px 5px 21px;
	box-sizing: border-box;
	text-align: center;
}

.category-photo {
	position: relative;
	height: 120px;
}

.category-photo img {
	width: 120px;
}

.category-label {
	margin-top: 8px;
	display: flex;
	justify-content: center;;
}

.category-title {
	font-weight: 500;
	color: var(--text-color);
}

.category-button {
	display: flex;
	width: 160px;
	justify-content: space-between;
	margin: 8px auto 0;
	transition: all var(--animation);
}

.category-shop-button {
	position: absolute;
	padding: 0.5rem;
	font-size: 18px;
	font-weight: 600;
	transform: scale3d(0.9, 0.9, 1);
	width: 160px;
}
