:root {
	--button-color: red;
}

.pageCategory {
	max-width: 480px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-around;
	align-content: flex-end;
	transition: max-height var(--page-animation), opacity var(--page-animation);
	background-color: var(--block-bg-color);
}

.category {
	position: relative;
	width: 160px;
	height: 200px;
	padding: 4px 5px 21px;
	box-sizing: border-box;
	text-align: center;
}

.category-photo {
	position: relative;
	height: 120px;
}

.category-photo img {
	width: 120px;
}

.category-label {
	display: flex;
	justify-content: center;
}

.category-title {
	font-weight: 500;
}

.category-button {
	display: flex;
	width: 80px;
	justify-content: space-between;
	margin: 10px auto 0;
	position: relative;
	transition: all var(--animation);
}

.category-shop-button {
	position: absolute;
	padding: 1rem;
	transform: scale3d(0.9, 0.9, 1);
	width: 80px;
	top: 0;
	right: 0;
	cursor: pointer;
	text-transform: uppercase;
}
