:root {
	--default-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--block-bg-color: var(--tg-theme-bg-color);
	--bg-color: var(--tg-theme-bg-color);
	--animation: .15s ease;
	--page-animation-duration: .3s;
	--page-animation: var(--page-animation-duration) ease;
	--status-height: 48px;
	--accent-color: #ff0303;
	--main-color: #f8a917;
	--text-color: #222;
	--page-hint-color: #83878a;
	--hint-color: #74787a;
	--placeholder-color: #999da1;
	--secondary-text-color: #707579;
}

.root {
	display: flex;
	flex-wrap: wrap;
}

body.closed .page {
	filter: grayscale(1) opacity(0.7);
}

.pageAnimation {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
}

.page {
	width: 100%;
	display: none;
}

.back-button {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 56px;
	height: 56px;
	color: var(--secondary-text-color);
	font-size: 24px;
	justify-content: center;
	text-align: center;
	align-items: center;
	cursor: pointer;
}

.main-button {
	width: 100%;
	position: fixed;
	padding: 0 .5rem;
	bottom: 0;
	text-align: center;
}

.main-button button {
	margin: 0.5rem 0;
	width: 100%;
	border-radius: 10px;
	height: 44px;
	padding: 0 1.0625rem;
	line-height: 44px;
	transition: .2s opacity;
	font-weight: 500;
	font-size: 100%;
}

button {
	position: relative;
	overflow: hidden;
	transition: background 400ms;
	color: white;
	background-color: var(--accent-color);
	padding: 1rem 2rem;
	font-family: var(--default-font);
	font-size: 1.5rem;
	outline: 0;
	border: 0;
	border-radius: 0.25rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
	cursor: pointer;
	text-transform: uppercase;
}

span.ripple {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	animation: ripple 600ms linear;
	background-color: rgba(255, 255, 255, 0.7);
}

.shop-close-demo {
	width: 160px;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shop-close-demo div {
	width: 150px;
	height: 150px;
	background-size: contain;
}


@keyframes ripple {
	to {
		transform: scale(4);
		opacity: 0;
	}
}
