.pageItemList {
	max-width: 480px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding-bottom: 72px;
	justify-content: center;
	align-content: flex-end;
	transition: max-height var(--page-animation), opacity var(--page-animation);
	background-color: var(--block-bg-color);
}

.item {
	margin-top: 1rem;
	width: 160px;
	height: 200px;
	box-sizing: border-box;
	text-align: center;
}

.item-count {
	position: absolute;
	right: 0;
	top: 0;
	font-weight: 700;
    font-size: 18px;
    border-radius: 24px;
    height: 32px;
    min-width: 32px;
    background: #ffce14;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
	z-index: 3;
}
.item-count.hide {
	display: none;
}

.item-photo {
	position: relative;
	height: 120px;
}

.item-photo img {
	width: 120px;
}

.item-label {
	margin-top: 8px;
	display: flex;
	justify-content: center;
}

.item-title {
	font-weight: 500;
}

.item-button {
	display: flex;
	width: 160px;
	justify-content: space-between;
	margin: 8px auto 0;
	transition: all var(--animation);
}

.item-shop-button {
	position: absolute;
	padding: 0.5rem;
	font-size: 18px;
	transform: scale3d(0.9, 0.9, 1);
	width: 160px;
}

.item-shop-button.add {
	font-weight: 600;
	position: relative;
	right: 0;
}

.item-shop-button.remove {
	background-color: #ffce14;
	color: black;
	position: relative;
	left: 0;
}

.item-shop-button.selected {
	width: 80px;
}

.item-shop-button.hide {
	display: none;
}
