:root {
	--button-add-color: #ff0303;
	--button-remove-color: #ffce14;
	--cart-count-color: #ffce14;
}

.product-container {
}

.product-container div {
	width: 100%;
	display: inline-block;
	position: relative;
}

.product-container div img {
	width: 100px;
}

.product-container div .cartCount {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	background-color: var(--cart-count-color);
	color: black;
	position: absolute;
	top: 0;
	right: 0;
}

.product-container p {
	color: black;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0;
}

.product-container #price {
	color: black;
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 0.5rem 0;
}

.product-container span {
	font-weight: 600;
	font-size: 18px;
	color: white;
	display: inline-block;
	border-radius: 4px;
	padding: 4px;
	letter-spacing: 1.5px;
	cursor: pointer;
}

.product-container .product-add {
	width: 100px;
	background-color: var(--button-add-color);
}

.product-container .product-sub-add {
	width: 50px;
	margin-left: 0.5rem;
	background-color: var(--button-add-color);
}

.product-container .product-sub-remove {
	width: 50px;
	color: black;
	background-color: var(--button-remove-color);
}
